html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #333; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a,
img {-webkit-touch-callout: none}
a,
a:active,
a:focus,
a:hover,
a:visited {text-decoration: none}
input[type=password],
input[type=text],
textarea {
    resize: none;
    outline: 0;
    -webkit-appearance: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #fff
}
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}

.wrapper_max{width: 800px;margin: 0 auto;border: #1a8fab solid 3px;}
.wrapper_max::after{content: '';display: block;clear: both;}
/* left start */
.wrapper_max_left{width: 30%;float: left;background: #f0f0f0;height: 910px;}
.wrapper_max_left_top{height: 260px;padding-top: 70px;margin-bottom: 30px;}
.wrapper_max_left_top img{width: 150px;height: 150px;border: #1a8fab solid 5px;margin: 0 auto;display: block;}
.wrapper_max_left_top_bottom{height: 65px;background: #1a8fab;margin-top: 25px;}
.wrapper_max_left_top_bottom p{text-align: center;color: white;font-size: 30px;font-weight: 900;}
.wrapper_max_left_top_bottom span{text-align: center;color: white;font-size: 14px;display: block;}
.wrapper_max_left_center{height: 295px;margin-left: 25px;}
.wrapper_max_left_center ul li{margin: 15px auto;}
.wrapper_max_left_center ul li span{margin-left: 10px;}
.wrapper_max_left_center_br{width: 175px;height: 2px;margin: 0 auto;background: #000;}
.wrapper_max_left_bottom{margin-top: 30px;}
.wrapper_max_left_bottom_top{width: 95px;height: 20px;border: #9ba7a3 solid 1px;text-align: center;line-height: 20px;margin: 0 auto;margin-bottom: 25px;}
.wrapper_max_left_bottom ul li{list-style: square;margin: 10px 0 10px 35px;color: #1a8fab;}
.wrapper_max_left_bottom ul li span{color: #000000;}
/* left end */

/* right start */
.wrapper_max_right{width: 60%;float: right;}
/* left_top start */
.wrapper_max_right_top{height: 375px;padding-top: 70px;}
.wrapper_max_right_top_top{height: 190px;}
.wrapper_max_right_top_top_text{height: 48px;}
.wrapper_max_right_top_top_text img{float: left;}
.wrapper_max_right_top_top_text span{font-size: 20px;font-weight: 800;color: #1A8FAB;line-height: 48px;margin-left: 10px;}
.wrapper_max_right_top_top p{color: #1A8FAB;font-size: 13px;}
.wrapper_max_right_top_top ul li{font-size: 13px;list-style: circle;margin-left: 20px;}

.wrapper_max_right_top_center{height: 280px;margin-bottom: 50px;}
.wrapper_max_right_top_center_text{height: 48px;position: relative;}
.wrapper_max_right_top_center_text img{float: left;}
.wrapper_max_right_top_center_text span{font-size: 20px;font-weight: 800;color: #1A8FAB;line-height: 48px;margin-left: 10px;}
#shuxian{position: absolute;left: 22px;top: 48px;}
.wrapper_max_right_top_center p{color: #1A8FAB;font-size: 13px;margin-left: 50px;margin-top: 15px;}
.wrapper_max_right_top_center ul li{font-size: 13px;list-style: circle;margin-left: 65px;}

.wrapper_max_right_top_bottom{height: 280px;}
.wrapper_max_right_top_bottom_text{height: 48px;}
.wrapper_max_right_top_bottom_text img{float: left;}
.wrapper_max_right_top_bottom_text span{font-size: 20px;font-weight: 800;color: #1A8FAB;line-height: 48px;}
#shuxian{position: absolute;left: 22px;top: 48px;}
.wrapper_max_right_top_bottom p{color: #1A8FAB;font-size: 13px;margin-left: 50px;margin-top: 15px;}
.wrapper_max_right_top_bottom ul li{font-size: 13px;list-style: circle;margin-left: 65px;}
/* left_top end */
/* left_center start */
.wrapper_max_right_center{height: 115px;margin-top: 175px;}
.wrapper_max_right_center_text{height: 48px;}
.wrapper_max_right_center_text img{float: left;}
.wrapper_max_right_center_text span{font-size: 20px;font-weight: 800;color: #1A8FAB;line-height: 48px;}
.wrapper_max_right_center ul li{margin-left: 15px;}
.wrapper_max_right_center ul li p{float: left;color: #1A8FAB;font-size: 13px;}
.wrapper_max_right_center ul li span{font-size: 13px;}
/* left_center end */
/* left_bottom start */
.wrapper_max_right_bottom{height: 115px;margin-top: 50px;}
.wrapper_max_right_bottom_text{height: 48px;}
.wrapper_max_right_bottom_text img{float: left;}
.wrapper_max_right_bottom_text span{font-size: 20px;font-weight: 800;color: #1A8FAB;line-height: 48px;}
.wrapper_max_right_bottom p{font-size: 13px;margin-left: 20px;}
/* left_bottom end */
/* right end */
